@model EmpleadoDto

@{
    ViewData["Title"] = "Visualizar empleado";
}

<h1>Empleado</h1>

Id: @Model.Id<br />
Dni: @Model.Dni<br />
Nombres: @Model.Nombres<br />
Apellidos: @Model.Apellidos<br />
Está activo?: @Model.Activo<br />
